<ion-header>
    <ion-toolbar>
        <!-- =============================== arrow and love icon -->
        <div style="display: flex; flex-direction: column; align-content: center; padding-bottom: 20px;background: #f1f1f0;"> 
            <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 15px;">
                <ion-icon name="arrow-back" (click)="goback()" style="font-size: 25px;" class="main_color2"></ion-icon>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: center;margin-top: -35px;">
                <ion-label style="font-size: 15px;" class="main_color1">MORE OPTIONS</ion-label>
            </div>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- ======================== more options -->
    <div style="display: flex; flex-direction: column; align-content: center;background:  #ffffff; margin-top: 10px;"> 
        <ion-label style="font-size: 20px; margin-left: 15px; margin-top: 15px; " class="main_color1">More options</ion-label> 
        <ion-list>  
          <ion-item line routerLink="/mybid">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">My bids</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/myjob">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">Saved</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/myjob">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">My jobs</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/payment">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">Payments</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/invoice">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">Invoice</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/calendar">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">Calendar</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/myjob">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">Completed jobs</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/profile">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">My profile</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/review">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">My reviews</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/settings">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">Settings</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/faq">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">FAQs</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/faq">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">Contact us</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/policy">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">Terms & conditions</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line routerLink="/policyprivacy">   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">Privacy policy</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
          <ion-item line>   
              <ion-label style="font-size: 15px; margin-left: 10px;margin-right: 10px;" class="main_color2">Logout</ion-label>  
              <ion-icon name="arrow-dropright" class="main_color2" style="font-size: 25px;"></ion-icon>
          </ion-item>  
        </ion-list>  
    </div>
</ion-content>
