<ion-content>
    <!-- =============================== arrow and love icon -->
      <div style="display: flex; flex-direction: column; align-content: center; margin-bottom: 20px;" class="main_color"> 
          <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 15px;">
            <ion-icon name="arrow-back" routerLink="/tabs" style="font-size: 35px; color: #43a6b3;"></ion-icon>
            <ion-icon name="checkmark-circle-outline" style="font-size: 35px; color: #43a6b3;"></ion-icon>
          </div>
          <div style="display: flex; flex-direction: row; justify-content: center;margin-top: -45px;">
            <ion-label style="font-size: 20px;">[Auto Fill Job Name]</ion-label>
          </div>
      </div>
      <!-- ===================================== job00034        -->
      <div style="display: flex; flex-direction: column; align-content: center;background:  #004750;" routerLink="/jobtraining"> 
          <div style="display: flex; flex-direction: row; justify-content: space-between; padding-left: 15px;">          
              <div style="display: flex; flex-direction: row; align-content: flex-start; margin-top: 10px; margin-bottom: 10px;" class="yellow">
                  <ion-icon name="information-circle" class="yellow" style="font-size: 20px;"></ion-icon>
                  <ion-label style="font-size: 12px; margin-left: 5px;margin-top: 5px; border-bottom: 1px solid yellow;" class="yellow">JOB00034 - Marketing / Email marketing - Due 2 days</ion-label>
              </div>
              <ion-icon name="arrow-dropright" class="yellow" style="font-size: 25px; margin-top: 10px; margin-right: 20px;"></ion-icon>
          </div>
      </div>
      
      <!-- ===========================  my jobs -->
      <div style="display: flex; flex-direction: column; align-content: center;background:  #ffffff; margin-top: 30px;"> 
        <ion-label style="font-size: 15px; margin-left: 20px;margin-top: 10px; " >JOB00034-Marketing/Email marketing</ion-label> 
        <ion-label style="font-size: 20px; margin-left: 20px;margin-top: 15px; " class="main_color1">eDM marketing specialist needed for company training</ion-label> 

        <div style="display: flex; flex-direction: column; align-content: flex-start; margin-left: 20px; margin-top: 30px;">
            <div style="display: flex; flex-direction: row; align-content: flex-start;margin-bottom: 5px;">
                <ion-icon name="pin" class="main_color1" style="font-size: 20px;"></ion-icon>
                <ion-label style="font-size: 15px; margin-top: 3px; margin-left: 5px !important;" class="main_color2">London, UK</ion-label>
                <ion-icon name="calendar" class="main_color2" style="font-size: 20px; margin-left: 20%;"></ion-icon>
                <ion-label style="font-size: 15px; margin-top: 3px; margin-left: 5px !important;" class="main_color2">March 11-14, 2019</ion-label>
            </div>
            <div style="display: flex; flex-direction: row; align-content: flex-start; margin-bottom: 10px; margin-top: 10px;">
                <ion-icon name="pricetag" class="main_color1" style="font-size: 20px;"></ion-icon>
                <ion-label style="font-size: 15px; margin-left: 5px !important; " class="main_color2">Marketing Email marketing</ion-label>
            </div>
        </div>   
        <!-- ========================= skills required -->
        <ion-label style="font-size: 20px; margin-left: 20px !important; margin-top: 20px;" class="main_color1">Skills required</ion-label>
        <div style="display: flex; flex-direction: row; justify-content: flex-start; margin-top: 10px;">
          <ion-button class="round-btn1" style="border: 2px solid #43a6b3; border-radius: 30px;margin-left: 20px; margin-right: 10px;">SKILL1</ion-button>
          <ion-button class="round-btn1" style="border: 2px solid #43a6b3; border-radius: 30px;margin-left: 10px; margin-right: 10px;">SKILL2</ion-button>
        </div>
        <!-- ========================= language -->
        <ion-label style="font-size: 20px; margin-left: 20px !important; margin-top: 20px;" class="main_color1">Language</ion-label>
        <div style="display: flex; flex-direction: row; justify-content: flex-start; margin-top: 10px;">
            <ion-label style="font-size: 15px; margin-left: 20px !important; margin-top: 0px;" class="main_color2">English</ion-label>
        </div>
        <!-- ========================= Aggred price -->
        <ion-label style="font-size: 20px; margin-left: 20px !important; margin-top: 20px;" class="main_color1">Agreed price - per day</ion-label>
        <div style="display: flex; flex-direction: row; justify-content: flex-start; margin-top: 10px;">
            <ion-label style="font-size: 15px; margin-left: 20px !important; margin-top: 0px;" class="main_color2">$45</ion-label>
        </div>
        <!-- ========================= description -->
        <ion-label style="font-size: 20px; margin-left: 20px !important; margin-top: 20px;" class="main_color1">Description</ion-label>
        <div style="display: flex; flex-direction: column; justify-content: flex-start; margin-top: 10px; margin-right: 20px;">
            <ion-label style="font-size: 15px; margin-left: 20px !important; margin-top: 0px;" class="main_color2">
              We're planning a company training event in Match that will require a trainer for specializing in marketing, specifically email marketing
            </ion-label>
            <ion-label style="font-size: 15px; margin-left: 20px !important; margin-top: 10px;" class="main_color2">
              It's all about upskilling our staff on eDM marketing and the company wide benefits of it.
            </ion-label>
        </div>
        <!-- ========================= Desired outcome -->
        <ion-label style="font-size: 20px; margin-left: 20px !important; margin-top: 20px;" class="main_color1">Desired outcome</ion-label>
        <div style="display: flex; flex-direction: column; justify-content: flex-start; margin-top: 10px; margin-right: 20px;">
            <ion-label style="font-size: 15px; margin-left: 20px !important; margin-top: 0px;" class="main_color2">
              We'd like to see an increase in our admin staff generating sales leads throught email marketing.
            </ion-label>
        </div>
        <!-- ========================= audience -->
        <ion-label style="font-size: 20px; margin-left: 20px !important; margin-top: 20px;" class="main_color1">Audience</ion-label>
        <div style="display: flex; flex-direction: column; justify-content: flex-start; margin-top: 10px; margin-right: 20px;">
            <ion-label style="font-size: 15px; margin-left: 20px !important; margin-top: 0px;" class="main_color2">
              Our company's administrative staff
            </ion-label>
        </div>
        <!-- ========================= company info -->
        <ion-label style="font-size: 20px; margin-left: 20px !important; margin-top: 20px;" class="main_color1">Company info</ion-label>
        <div style="display: flex; flex-direction: row; justify-content: flex-start; margin-top: 10px; margin-right: 20px;">
            <ion-label style="font-size: 15px; margin-left: 20px !important; margin-top: 0px;" class="main_color2">
              ABC Sofware Company
            </ion-label>
            <ion-icon name="globe" class="main_color2" style="margin-left: 20%;"></ion-icon>
            <ion-label style="font-size: 15px; margin-left: 5px !important; border-bottom: 1px solid #004750;" class="main_color2">
              website
            </ion-label>
        </div>
        <!-- ========================= job address -->
        <ion-label style="font-size: 20px; margin-left: 20px !important; margin-top: 20px;" class="main_color1">Job address</ion-label>
        <div style="display: flex; flex-direction: row;  margin-top: 10px; margin-right: 20px; margin-left: 20px; background: rgb(231, 230, 230); height: 40px;">
            <ion-icon name="pin" class="main_color2" style="margin-left: 10px; font-size: 25px; margin-top: 5px;"></ion-icon>
            <ion-label style="font-size: 15px; margin-left: 10px !important; margin-top: 5px;" class="main_color2">
              497 Evergreen Rd. Roseville, CA 95673
            </ion-label>
            <ion-icon name="arrow-dropright" class="main_color2" style="margin-left: 10%; font-size: 35px;"></ion-icon>
        </div>        
        <img src="../../assets/img/map.png" style="margin: 20px;">
        
        <div style="display: flex; flex-direction: row; margin-top: 15px;margin-left: 20px !important;">
          <div style="display: flex; flex-direction: row; justify-items: flex-start;">
              <img src="../../assets/img/i_user.png" style="margin-right: 5px; width: 40px; height: 40px;"> 
              <div style="display: flex; flex-direction: column; align-content: flex-start; margin-left: 10px;">
                <ion-label style="font-size: 15px;" class="main_color1">John Doe</ion-label>
                <ion-label style="font-size: 12px;">@johndoe•posted 2 days ago</ion-label>
                <div style="display: flex; flex-direction: row; align-content: flex-start; margin-top: 10px; margin-bottom: 10px;">
                    <ion-label style="font-size: 15px;" class="main_color1">4.2</ion-label>
                    <ion-icon name="star" class="yellow"></ion-icon>
                    <ion-icon name="star" class="yellow"></ion-icon>
                    <ion-icon name="star" class="yellow"></ion-icon>
                    <ion-icon name="star" class="yellow"></ion-icon>
                    <ion-icon name="star" class="green_grey"></ion-icon>
                </div>
              </div>
          </div>
        </div>
        
        <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 20px;">
            <ion-button class="round-btn1" style="border: 2px solid #43a6b3; border-radius: 30px;margin-left: 20px; margin-right: 10px;">Message</ion-button>
            <ion-button class="round-btn1" style="border: 2px solid #43a6b3; border-radius: 30px;margin-left: 10px; margin-right: 10px;">GIG Completed</ion-button>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 20px; padding: 20px !important;">
            <ion-button class="round-btn2" routerLink="/tabs" style="height: 50px; width: 100%;">Send Training Materials</ion-button>
        </div>
      </div>
  
      
  </ion-content>
  

  <ion-toolbar>
      <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button routerLink="/tabs">
              <ion-icon name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-tab-button>
            <ion-tab-button routerLink="/tabs/tabs/tabtrainer">
              <ion-icon name="person"></ion-icon>
              <ion-label>Trainers</ion-label>
            </ion-tab-button>
            <ion-tab-button routerLink="/tabs/tabs/tabjob">
              <ion-icon name="search"></ion-icon>
              <ion-label>Jobs</ion-label>
            </ion-tab-button>
            <ion-tab-button routerLink="/tabs/tabs/tabmsg">
              <ion-icon name="mail"></ion-icon>
              <ion-label>Messages</ion-label>
            </ion-tab-button>
            <ion-tab-button routerLink="/tabs/tabs/tabmore">
              <ion-icon name="settings"></ion-icon>
              <ion-label>More</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </ion-toolbar>
  