// ion-content{
//     --background: #ccc url('../../../assets/img/bg.png') no-repeat center center/cover;
// }
.grey_color {
    background-color: #dbdbd9 !important;
}

.white_color {
    background-color: #ffffff !important;
}
.main_color1 {
    color: #007278 !important;
    font-weight: bold;
}
.main_color2 {
    color: #1f8185 !important;
}
.main_color {
    color: #004750 !important;
}
.round-btn {
    --border-radius: 30px!important;
}
.round-btn1 {
    --border-radius: 30px!important;
    --background:#ffffff !important;
    color: #007278 !important;
}
.yellow {
    color: rgb(253, 249, 2);
}
.green_grey {
    color: rgb(12, 80, 74);
}
ion-item{ --border-color: #1f8185; }
ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }