<ion-content scroll-y="false">
    <ion-slides class="slider" pager="true" [options]="slideOpts">
      <ion-slide padding>
        <ion-label color="primary">
          <img src="../../assets/img/sp1.png">
          <div style="margin-top: 10px !important;">            
            <ion-button class="sign-up-btn round-btn1" routerLink="/" style="background: #004750; border: 2px solid #ffffff; border-radius: 30px; margin: 10px;">
              Close
            </ion-button>
          </div>
        </ion-label>
      </ion-slide>
      <ion-slide>
        <ion-label color="primary">
          <img src="../../assets/img/sp2.png">
          <div style="margin-top: 10px !important;">            
            <ion-button class="sign-up-btn round-btn1" routerLink="/" style="background: #004750; border: 2px solid #ffffff; border-radius: 30px; margin: 10px;">
              Close
            </ion-button>
          </div>
        </ion-label>
      </ion-slide>
      <ion-slide>
        <ion-label color="primary">
            <img src="../../assets/img/sp3.png">
            <div style="margin-top: 10px !important;">            
              <ion-button class="sign-up-btn round-btn1" routerLink="/tabs/tabs/tabhome" style="background: #004750; border: 2px solid #ffffff; border-radius: 30px; margin: 10px;">
                Home
              </ion-button>
            </div>
        </ion-label> 
      </ion-slide>
    </ion-slides>
  </ion-content>
  