<ion-content>
    <div style="display: flex; flex-direction: column; align-items: center;"> 
        <img src="../../assets/img/logo_w.png" style="width: 50%; margin-top: 60px;margin-bottom: 50px;">
    </div>
    <div style="display: flex; flex-direction: column; align-content: center; background: #ffffff; width: 70%; height: 50%;margin-left: 15%; padding: 20px;"> 
        <div style="display: flex; flex-direction: row; justify-content: flex-end;">
          <ion-icon name="close" routerLink="/login" style="color: #004750;"></ion-icon>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 20px;">
          <ion-label style="font-size: 20px; font-weight: bold;" class="main_color2">Success!</ion-label>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 30px;">
          <img src="../../assets/img/i_chk_success.png">
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 20px;">
          <ion-label style="font-size: 25px; font-weight: bold;" class="main_color2">Registration<br/>successful</ion-label>
        </div>
    </div>
    <div style="display: flex; flex-direction: row; justify-content: center; margin-top: 40px;">
      <ion-button class="round-btn1" routerLink="/profileedit" style="background: #004750; border: 2px solid #ffffff; border-radius: 30px; margin: 10px;">Build your profile</ion-button>
      <ion-button class="round-btn1" routerLink="/register1" style="background: #004750; border: 2px solid #ffffff; border-radius: 30px; margin: 10px;">Explore App</ion-button>
    </div>
</ion-content>
