<ion-header>
    <ion-toolbar>
        <!-- =============================== arrow and love icon -->
        <div style="display: flex; flex-direction: column; align-content: center; padding-bottom: 20px;background: #f1f1f0;"> 
            <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 15px;">
              <ion-icon name="arrow-back" (click)="goback()" style="font-size: 25px;" class="main_color2"></ion-icon>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: center;margin-top: -35px;">
              <ion-label style="font-size: 15px;" class="main_color1">PRIVACY</ion-label>
            </div>
        </div>
    </ion-toolbar>
  </ion-header>

<ion-content>  
    <!-- ================================ privacy -->
    <div style="display: flex; flex-direction: column; justify-content: center; margin: 20px;">
        <ion-label style="font-size: 30px;" class="main_color1">Privacy policy</ion-label>
        <ion-label style="font-size: 20px; margin-top: 20px;" class="main_color2">Heading two goes here</ion-label>
        <ion-label style="font-size: 15px; margin-top: 20px;" class="grey">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse luctus dui sed leo cursus dignissim. 
            Morbi bibendum vel quam quis tempus. Suspendisse imperdiet sollicitudin lectus, id aliquet turpis posuere vitae. 
            Sed quis varius enim, vel pretium turpis. Sed egestas et ex a dignissim. Cras sollicitudin ullamcorper nisi porta vehicula. 
            In finibus, sapien eu porta bibendum, eros tortor cursus sem, eget ultricies felis mauris nec massa.
        </ion-label>
        <ion-label style="font-size: 20px; margin-top: 20px;" class="main_color2">
          Sub-heading goes here
        </ion-label>
        <ion-label style="font-size: 15px; margin-top: 20px;" class="grey">
            In hac habitasse platea dictumst. Donec tincidunt leo sit amet pharetra rutrum. Sed cursus purus vel blandit molestie.
            Morbi dui sem, finibus non auctor id, vestibulum ut leo. Integer enim nibh, vehicula non velit eu, scelerisque porta lorem. 
            Fusce erat purus, dignissim at arcu quis, luctus aliquam odio. Ut porta congue velit vitae tempor.       
        </ion-label>
        <ion-label style="font-size: 15px; margin-top: 20px;" class="grey">
          Quisque feugiat interdum neque, in aliquam odio auctor sed. Suspendisse id dapibus velit. Maecenas euismod nec eros porta interdum. 
          Vivamus auctor lectus nec erat suscipit maximus. Curabitur in nisl diam. Integer sagittis nec augue in pretium. 
          Suspendisse a lacinia felis. Etiam at lectus sodales, euismod elit non, dapibus metus. Praesent consectetur ligula in cursus tincidunt.
          Nulla facilisi. Mauris in suscipit mi, in sagittis nisi. Praesent scelerisque dui vel diam dignissim, in elementum nibh hendrerit.      
        </ion-label>
        <ion-label style="font-size: 15px; margin-top: 20px;" class="grey">
            Duis condimentum scelerisque neque. Sed sed lacus at eros accumsan facilisis. 
            Integer neque elit, consequat id varius at, auctor vel odio. Morbi at interdum nisi, eu porttitor libero. 
            Cras sed ornare eros. Suspendisse ultricies vehicula sem ac aliquet. 
            Morbi quis quam id velit ornare semper ac nec nisl. Cras et neque suscipit, tristique ex vitae, rhoncus magna. 
            Curabitur eget aliquam purus. Cras accumsan turpis risus, eu molestie sem blandit ac. 
            Phasellus scelerisque orci ut lorem tristique mattis.
        </ion-label>
    </div>
  </ion-content>
  