
.grey_color {
    background-color: #ecece9 !important;
}

.white_color {
    background-color: #ffffff !important;
}
.main_color1 {
    color: #007278 !important;
}
.main_color2 {
    color: #1f8185 !important;
}
.main_color {
    color: #004750 !important;
}
.round-btn {
    --border-radius: 30px!important;
    --background:#187f85 !important;
    color: rgb(218, 218, 23);
}
.round-btn2 {
    --border-radius: 30px!important;
    --background:#004750 !important;
    color: #ffffff;
}
.round-btn1 {
    --border-radius: 30px!important;
    --background:#ffffff !important;
    color: #187f85;
}
.yellow {
    color: rgb(218, 218, 23);
}
.green_grey {
    color: rgb(12, 80, 74);
}
ion-item{ --border-color: #1f8185; }
ion-content {
    // overwrite inline styles
    --offset-bottom: auto!important;
    --overflow: hidden;
    overflow: auto;
    &::-webkit-scrollbar {
      display: none;
    }
  }