<ion-header>
    <ion-toolbar>
        <!-- =============================== arrow and love icon -->
        <div style="display: flex; flex-direction: column; align-content: center; padding-bottom: 20px;background: #f1f1f0;"> 
            <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 15px;">
              <ion-icon name="arrow-back" (click)="goback()" style="font-size: 25px;" class="main_color2"></ion-icon>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: center;margin-top: -35px;">
              <ion-label style="font-size: 15px;" class="main_color1">PAYMENTS</ion-label>
            </div>
        </div>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>  
    <!-- ===========================  payments received -->
    <div style="display: flex; flex-direction: column; align-content: center;background:  #ffffff; margin-top: 10px;"> 
      <ion-label style="font-size: 20px; margin-left: 15px;margin-top: 15px; " class="main_color1">Payments received(1)</ion-label> 
      <ion-list lines="none">  
        <ion-item>     
          <div style="display: flex; flex-direction: column; align-content: flex-start; padding-left: 0px; width: 100%;">   
            <div style="display: flex; flex-direction: row; justify-content: flex-start;">
                <img class="main_color1" style="margin-top: 16px; background: #43a6b3; height: 1px; width: 5%;"/>
                <ion-button class="round-btn1" style="border: 1px solid #43a6b3; border-radius: 30px;">
                  <ion-label style="font-size: 10px;font-weight: bold;">Invoice paid 01/04/19</ion-label>  
                </ion-button>
                <img class="main_color1" style="margin-top: 16px; background: #43a6b3; height: 1px; width: 30%;"/>
                <ion-button class="round-btn1" routerLink="/jobcomplete" style="border: 1px solid #43a6b3; border-radius: 30px; width: 78px !important;">
                  <ion-label style="font-size: 10px; font-weight: bold;">Paid</ion-label>  
                  <img src="../../../assets/img/circle_chk.png" style="margin-right: -15px; margin-left: 10px;"/>
                </ion-button>
                <img class="main_color1" style="margin-top: 16px; background: #43a6b3; height: 1px; width: 5%;"/>
            </div>
  
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px;" routerLink="/myjob">
              <ion-label style="font-size: 15px;font-weight: bold;" class="main_color1">
                  Title with character limit. Lorem <br>ipsum dolor sit amet, consectetur adipisicing
              </ion-label>  
              <ion-icon name="arrow-dropright" class="main_color1" style="font-size: 25px;"></ion-icon>
            </div>
            <ion-label style="font-size: 12px; margin-top: 10px;">
              JOB00034
            </ion-label>  
  
            <div style="display: flex; flex-direction: row; margin-top: 15px;">
              <div style="display: flex; flex-direction: column; align-content: flex-start; width: 40%;">
                  <div style="display: flex; flex-direction: row; align-content: flex-start;margin-bottom: 5px;">
                      <ion-label style="font-size: 15px; margin-top: 3px;" class="main_color2">Invoice issued by :</ion-label>
                  </div>
              </div>
              <div style="display: flex; flex-direction: row; justify-items: flex-start; width: 60%;">
                  <img src="../../assets/img/i_user.png" style="margin-right: 15px; width: 40px; height: 40px;"> 
                  <div style="display: flex; flex-direction: column; align-content: flex-start;">
                    <ion-label style="font-size: 15px;" class="main_color1">John Doe</ion-label>
                    <ion-label style="font-size: 12px;margin-top: 5px;">@johndoe</ion-label>
                    <div style="display: flex; flex-direction: row; align-content: flex-start; margin-top: 10px; margin-bottom: 10px;">
                        <ion-label style="font-size: 15px;" class="main_color1">4.2</ion-label>
                        <ion-icon name="star" class="yellow"></ion-icon>
                        <ion-icon name="star" class="yellow"></ion-icon>
                        <ion-icon name="star" class="yellow"></ion-icon>
                        <ion-icon name="star" class="yellow"></ion-icon>
                        <ion-icon name="star" class="green_grey"></ion-icon>
                    </div>
                  </div>
              </div>
            </div>
            <div style="display: flex; flex-direction: row; justify-content: space-between; width: 100%; margin-top: 20px;">
              <ion-button class="round-btn1" routerLink="/reminder" style="border: 2px solid #43a6b3; border-radius: 30px; font-weight: bolder; margin-left: 10px; height: 40px; width: 40%;">Review Trainer</ion-button>
              <ion-button class="round-btn1" routerLink="/message" style="border: 2px solid #43a6b3; border-radius: 30px; font-weight: bolder; margin-right: 10px; height: 40px; width: 40%;">Message</ion-button>
            </div>
          </div>
        </ion-item>  
      </ion-list>  
<!-- ==================================== payment made -->
      <ion-label style="font-size: 20px; margin-left: 15px;margin-top: 30px; " class="main_color1">Payments made(1)</ion-label> 
      <ion-list lines="none" style="margin-top: 10px;">  
        <ion-item>     
          <div style="display: flex; flex-direction: column; align-content: flex-start; padding-left: 0px; width: 100%;">   
            <div style="display: flex; flex-direction: row; justify-content: flex-start;">
                <img class="main_color1" style="margin-top: 16px; background: #43a6b3; height: 1px; width: 5%;"/>
                <ion-button class="round-btn1" style="border: 1px solid #43a6b3; border-radius: 30px;">
                  <ion-label style="font-size: 10px;font-weight: bold;">Invoice paid 01/04/19</ion-label>  
                </ion-button>
                <img class="main_color1" style="margin-top: 16px; background: #43a6b3; height: 1px; width: 30%;"/>
                <ion-button class="round-btn1" routerLink="/jobcomplete" style="border: 1px solid #43a6b3; border-radius: 30px; width: 78px !important;">
                  <ion-label style="font-size: 10px; font-weight: bold;">Paid</ion-label>  
                  <img src="../../../assets/img/circle_chk.png" style="margin-right: -15px; margin-left: 10px;"/>
                </ion-button>
                <img class="main_color1" style="margin-top: 16px; background: #43a6b3; height: 1px; width: 5%;"/>
            </div>
  
            <div style="display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px;" routerLink="/myjob">
              <ion-label style="font-size: 15px;font-weight: bold;" class="main_color1">
                  Title with character limit. Lorem <br>ipsum dolor sit amet, consectetur adipisicing
              </ion-label>  
              <ion-icon name="arrow-dropright" class="main_color1" style="font-size: 25px;"></ion-icon>
            </div>
            <ion-label style="font-size: 12px; margin-top: 10px;">
              JOB00034
            </ion-label>  
  
            <div style="display: flex; flex-direction: row; margin-top: 15px;">
              <div style="display: flex; flex-direction: column; align-content: flex-start; width: 40%;">
                  <div style="display: flex; flex-direction: row; align-content: flex-start;margin-bottom: 5px;">
                      <ion-label style="font-size: 15px; margin-top: 3px;" class="main_color2">Invoice issued by :</ion-label>
                  </div>
              </div>
              <div style="display: flex; flex-direction: row; justify-items: flex-start; width: 60%;">
                  <img src="../../assets/img/i_user.png" style="margin-right: 5px; width: 40px; height: 40px;"> 
                  <div style="display: flex; flex-direction: column; align-content: flex-start;">
                    <ion-label style="font-size: 15px;" class="main_color1">John Doe</ion-label>
                    <ion-label style="font-size: 12px;">@johndoe•posted 2 days ago</ion-label>
                    <div style="display: flex; flex-direction: row; align-content: flex-start; margin-top: 10px; margin-bottom: 10px;">
                        <ion-label style="font-size: 15px;" class="main_color1">4.2</ion-label>
                        <ion-icon name="star" class="yellow"></ion-icon>
                        <ion-icon name="star" class="yellow"></ion-icon>
                        <ion-icon name="star" class="yellow"></ion-icon>
                        <ion-icon name="star" class="yellow"></ion-icon>
                        <ion-icon name="star" class="green_grey"></ion-icon>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </ion-item>  
      </ion-list>  
    </div>
  
    <div style="display: flex; flex-direction: column; margin: 20px;">
      <div style="display: flex; flex-direction: column;">
          <ion-label style="font-size: 20px;" class="main_color1">Payments</ion-label>
          <ion-label style="font-size: 15px; margin-top: 10px;" class="main_color">Outline how you would like to pay trainers, once one of your jobs is completed</ion-label>
      </div>
      <!-- ==============================  radio  -->
      <div style="display: flex; flex-direction: row; margin-top: 30px;">
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-label style="color: #007278; margin-left: 10px;">I will pay for my job manually each time</ion-label>
      </div>
      <!-- ==============================  radio  -->
      <div style="display: flex; flex-direction: row; margin-top: 30px;">
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-label style="color: #007278; margin-left: 10px;">Set up auto-payments for completed jobs</ion-label>
      </div>
      <div style="margin: 0px;display: flex; flex-direction: row; justify-content: center; font-size: 12px; margin-left: 30px; margin-right: 10px;">
        <ion-label style="color: gray; margin-top: 10px;">
            Taughtus requires a 10% deposit to be paid to all trainers, 
            upon assigning your job to them. You will need to do this each time you post a job, so to make this process more seamless, 
            we offer an auto-payment option. 
            After a job is complete, and both users (trainer and job owner) check the job as ‘done’, 
            your payment to the trainer will happen automatically (minus the deposit). 
        </ion-label>
      </div>
      <!-- ==============================  radio  -->
      <div style="display: flex; flex-direction: row; margin-top: 30px;">
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-label style="color: #007278; margin-left: 10px;">Set up auto-payments for deposits</ion-label>
      </div>
      <div style="margin: 0px;display: flex; flex-direction: row; justify-content: center; font-size: 12px; margin-left: 30px; margin-right: 10px;">
        <ion-label style="color: gray; margin-top: 10px;">
          Taughtus requires a 10% deposit to be paid to all trainers, upon assigning your job to them. 
          The deposit will be calculated based on the agreed amount upon the trainer being assigned your job.
        </ion-label>
      </div>
      <!-- ==============================  radio  -->
      <div style="display: flex; flex-direction: row; margin-top: 30px;">
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-label style="color: #007278; margin-left: 10px;">Auto-pay with your primary saved card</ion-label>
      </div>
      <!-- ==============================  radio  -->
      <div style="display: flex; flex-direction: row; margin-top: 30px;">
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-label style="color: #007278; margin-left: 10px;">Enter a new card to set up auto-pay</ion-label>
      </div>
      <!-- ==============================  radio  -->
      <div style="display: flex; flex-direction: row; margin-top: 30px;">
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-label style="color: #007278; margin-left: 10px;">If elected, I agree to let Taughtus debit<br/> auto-payments from my assigned card<br/> as indicated above</ion-label>
      </div>
      <!-- ==============================  radio  -->
      <div style="display: flex; flex-direction: row; margin-top: 30px;">
        <ion-checkbox color="secondary"></ion-checkbox>
        <ion-label style="color: #007278; margin-left: 10px;">
          I agree to Taughtus’ <span style="border-bottom: 1px solid #007278;" routerLink="/policy">terms of use</span>
        </ion-label>
      </div>
      
      <!-- ==============================  button  -->
      <ion-button class="round-btn" routerLink="paymoney1" style="height: 50px; margin-top: 30px;">Save</ion-button>
      <div style="margin: 0px;display: flex; flex-direction: row; justify-content: center; font-size: 12px; margin-left: 20px; margin-right: 20px;">
        <ion-label style="color: gray; margin-top: 20px;">
            *Taughtus is not liable for any mistaken submissions the user
            has made upon filling out this, or any other of its forms. 
        </ion-label>
      </div>
    </div>

  </ion-content>
  
  
  
    <ion-toolbar>
      <ion-tabs>
          <ion-tab-bar slot="bottom">
            <ion-tab-button routerLink="/tabs">
              <ion-icon name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-tab-button>
            <ion-tab-button routerLink="/tabs/tabs/tabtrainer">
              <ion-icon name="person"></ion-icon>
              <ion-label>Trainers</ion-label>
            </ion-tab-button>
            <ion-tab-button routerLink="/tabs/tabs/tabjob">
              <ion-icon name="search"></ion-icon>
              <ion-label>Jobs</ion-label>
            </ion-tab-button>
            <ion-tab-button routerLink="/tabs/tabs/tabmsg">
              <ion-icon name="mail"></ion-icon>
              <ion-label>Messages</ion-label>
            </ion-tab-button>
            <ion-tab-button routerLink="/tabs/tabs/tabmore">
              <ion-icon name="settings"></ion-icon>
              <ion-label>More</ion-label>
            </ion-tab-button>
          </ion-tab-bar>
        </ion-tabs>
      </ion-toolbar>